body {
  background-color: rgb(230, 230, 230);
  background-image: none;

}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
    max-width: 650px;
    max-height: 700px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    text-align: center;
    text-decoration: none;

}